# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Home Page
author: Coding For Reproducible Research Community
logo: _static/exeter_logo.png
copyright: "2026"

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/coding-for-reproducible-research/CfRR_Courses  # Online location of your book
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_repository_button: true
  use_edit_page_button: true
  use_issues_button: true
  use_navigation_shortcuts: false
  extra_css:
      - _static/remove_prev_next_bottom_buttons.css
      - _static/a11y_sidebar_contrast.css
  extra_js:
      - _static/overlay-label-accessibility.js
      - _static/search_bar_submit_button.js
      - _static/remove_secondary_navigation.js
      - _static/a11y-dropdown.js
      - _static/a11y_search.js
      - _static/a11y_landmarks.js
      - _static/a11y_logo_alt.js
      - _static/a11y_focus_ring.js
      - _static/a11y_code_reflow.js
      - _static/a11y_remove_empty_headings.js
      - _static/a11y_vis_network_region.js
      - _static/a11y_main_landmark.js
      - _static/a11y_citation_roles.js
      - _static/vis_button_accessibility.js

sphinx:
  extra_extensions:
    - sphinx_sitemap
  config:
    html_extra_path:
      - _static/
    templates_path:
      - _templates
    html_baseurl: "https://coding-for-reproducible-research.github.io/CfRR_Courses/"
    sitemap_url_scheme: "{link}"
    sitemap_filename: "sitemap.xml"
    # Allow `$$...$$` on a single line to be treated as math (common in converted notebooks)
    myst_dmath_double_inline: true



launch_buttons:
  thebe                  : false
  notebook_interface: "jupyterlab"
  binderhub_url: "https://mybinder.org"  # The URL for your BinderHub (e.g., https://mybinder.org)
      
# Files not to be ran when building the jupyter book
exclude_patterns:
  - README.md
  - individual_modules/python_for_data_analysis/data-analysis-task-solutions.ipynb

parse:
  myst_enable_extensions:  # default extensions to enable in the myst parser. See https://myst
    - strikethrough
    - dollarmath
    - amsmath

# Execute all notebooks by default. 
# The R notebooks are excluded from running during the building of the book due to the formatting issues. When ran wen building the output for each of the cells will create a new code block for each space due to the R magic command.
execute:
  execute_notebooks: "force"
  exclude_patterns: 
      - 'individual_modules/introduction_to_r/basic_commands.ipynb'
      - 'individual_modules/introduction_to_r/data_types.ipynb'
      - 'individual_modules/introduction_to_r/load_data.ipynb'
      - 'individual_modules/introduction_to_r/manipulating_data.ipynb'
      - 'individual_modules/introduction_to_r/control_flow.ipynb'
      - 'individual_modules/introduction_to_r/plots.ipynb'
      - 'individual_modules/introduction_to_r/stats.ipynb'
      - 'individual_modules/introduction_to_r/good_practise.ipynb'
      - 'individual_modules/introduction_to_r/gettingstarted.ipynb'
      - 'individual_modules/regression_analysis_with_R/introduction_to_regression.ipynb'
      - 'individual_modules/regression_analysis_with_R/hypothesis_testing.ipynb'
      - 'individual_modules/regression_analysis_with_R/multiple_linear_regression.ipynb'
      - 'individual_modules/regression_analysis_with_R/logistic_regression.ipynb'
      - 'individual_modules/regression_analysis_with_R/regression_analysis_with_r_summary.ipynb'
      - 'individual_modules/regression_analysis_with_R/regression_analysis_with_r_extras.ipynb'
      - 'individual_modules/advanced_regression_analysis_with_R/mixed_effects_models.ipynb'
      - 'individual_modules/advanced_regression_analysis_with_R/expanding_the_mixed_effects_model_framework.ipynb'
      - 'individual_modules/advanced_regression_analysis_with_R/regression_models_with_interaction_terms.ipynb'
      - 'individual_modules/advanced_regression_analysis_with_R/advanced_regression_analysis_with_R_summary.ipynb'
      - 'individual_modules/advanced_regression_analysis_with_R/advanced_regression_analysis_with_R_extras.ipynb'
      - 'individual_modules/working_with_data_in_R/introducing_tidyverse.ipynb'
      - 'individual_modules/working_with_data_in_R/loading_data.ipynb'
      - 'individual_modules/working_with_data_in_R/manipulating_a_dataframe.ipynb'
      - 'individual_modules/working_with_data_in_R/piping.ipynb'
      - 'individual_modules/working_with_data_in_R/combining_datasets.ipynb'
      - 'individual_modules/working_with_data_in_R/reshaping_datasets.ipynb'
      - 'individual_modules/working_with_data_in_R/strings_and_dates.ipynb'
      - 'individual_modules/working_with_data_in_R/summary.ipynb'
      - 'individual_modules/python_for_data_analysis/data-analysis-plotly.ipynb'
      - 'individual_modules/introduction_to_julia/arrays_and_matrices.ipynb'
      - 'individual_modules/introduction_to_julia/control_flow.ipynb'
      - 'individual_modules/introduction_to_julia/functions.ipynb'
      - 'individual_modules/introduction_to_julia/implemented_game_of_life.ipynb'
      - 'individual_modules/introduction_to_julia/introduction_to_julia.ipynb'
      - 'individual_modules/introduction_to_julia/io.ipynb'
      - 'individual_modules/introduction_to_julia/multi_file_project.ipynb'
      - 'individual_modules/introduction_to_julia/operations.ipynb'
      - 'individual_modules/introduction_to_julia/package_management.ipynb'
      - 'individual_modules/introduction_to_julia/performant_code.ipynb'
      - 'individual_modules/introduction_to_julia/project_game_of_life.ipynb'
      - 'individual_modules/introduction_to_julia/variables.ipynb'
      - 'individual_modules/introduction_to_julia/visualisation.ipynb'
      - 'individual_modules/improve_your_r_code/introduction.ipynb'
      - 'individual_modules/improve_your_r_code/style.ipynb'
      - 'individual_modules/improve_your_r_code/microbenchmark.ipynb'
      - 'individual_modules/improve_your_r_code/vectorisation.ipynb'
      - 'individual_modules/improve_your_r_code/data_table.ipynb'
      - 'individual_modules/improve_your_r_code/parallelisation.ipynb'
      - 'individual_modules/improve_your_r_code/rcpp.ipynb'
      - 'individual_modules/Introduction_to_Markdown_in_R/Background_to_Markdown.md'
      - 'individual_modules/Introduction_to_Markdown_in_R/Course_Outro.md'
      - 'individual_modules/Introduction_to_Markdown_in_R/Getting_Started_with_Markdown_in_R.md'
      - 'individual_modules/Introduction_to_Markdown_in_R/Processing_RMarkdown_Files.md'
      - 'individual_modules/Introduction_to_Markdown_in_R/RMarkdown_Components_Embedded_Code.md'
      - 'individual_modules/Introduction_to_Markdown_in_R/RMarkdown_Components_Formatted_Text.md'
      - 'individual_modules/Introduction_to_Markdown_in_R/RMarkdown_Components_Visual_Prelude.md'
      - 'individual_modules/Introduction_to_Markdown_in_R/RMarkdown_Components_YAML_Header.md'
      - 'individual_modules/introduction_to_python/analysis_task_1.ipynb'
      - 'individual_modules/introduction_to_python/analysis_task_2.ipynb'
      - 'individual_modules/introduction_to_python/analysis_task_3.ipynb'
      - 'short_courses/r_unit_testing.ipynb'
      - 'short_courses/r_functions.ipynb'
      - 'short_courses/r_functions.ipynb'
      - 'short_courses/python_language_features.ipynb'
      - 'short_courses/python_testing.ipynb'
      - 'individual_modules/markdown_with_python/liveOutput.ipynb'
      - 'individual_modules/intro_to_GPUs/theory.ipynb'
      - 'individual_modules/intro_to_GPUs/spack.ipynb'
      - 'individual_modules/intro_to_GPUs/slurm.ipynb'
      - 'individual_modules/intro_to_GPUs/conways_game_of_life.ipynb'
      - 'individual_modules/intro_to_GPUs/profiling.ipynb'
      - 'individual_modules/intro_to_GPUs/temperature_diffusion.ipynb'
