# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Home Page
author: Coding For Reproducible Research Community
logo: exeter_logo.png
copyright: "2024"

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/coding-for-reproducible-research/CfRR_Courses  # Online location of your book
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_repository_button: true
  use_edit_page_button: true
  use_issues_button: true
  use_navigation_shortcuts: false
  extra_css:
      - _static/remove_prev_next_bottom_buttons.css

launch_buttons:
  thebe                  : false
  binderhub_url: "https://mybinder.org"  # The URL for your BinderHub (e.g., https://mybinder.org)
      
# Files not to be ran when building the jupyter book
exclude_patterns:
  - README.md
  - individual_modules/python_for_data_analysis/data-analysis-task-solutions.ipynb


# Execute all notebooks by default. 
# The R notebooks are excluded from running during the building of the book due to the formatting issues. When ran wen building the output for each of the cells will create a new code block for each space due to the R magic command.
execute:
  execute_notebooks: "force"
  exclude_patterns: 
      - 'related_courses.ipynb'
      - 'individual_modules/introduction_to_r/basic_commands.ipynb'
      - 'individual_modules/introduction_to_r/data_types.ipynb'
      - 'individual_modules/introduction_to_r/load_data.ipynb'
      - 'individual_modules/introduction_to_r/manipulating_data.ipynb'
      - 'individual_modules/introduction_to_r/control_flow.ipynb'
      - 'individual_modules/introduction_to_r/plots.ipynb'
      - 'individual_modules/introduction_to_r/stats.ipynb'
      - 'individual_modules/introduction_to_r/good_practise.ipynb'
      - 'individual_modules/regression_analysis_with_R/introduction_to_regression.ipynb'
      - 'individual_modules/regression_analysis_with_R/hypothesis_testing.ipynb'
      - 'individual_modules/regression_analysis_with_R/multiple_linear_regression.ipynb'
      - 'individual_modules/regression_analysis_with_R/logistic_regression.ipynb'
      - 'individual_modules/regression_analysis_with_R/summary.ipynb'
      - 'individual_modules/regression_analysis_with_R/extras.ipynb'
      - 'individual_modules/advanced_regression_analysis_with_R/mixed_effects_models.ipynb'
      - 'individual_modules/advanced_regression_analysis_with_R/expanding_the_mixed_effects_model_framework.ipynb'
      - 'individual_modules/advanced_regression_analysis_with_R/regression_models_with_interaction_terms.ipynb'
      - 'individual_modules/advanced_regression_analysis_with_R/summary.ipynb'
      - 'individual_modules/advanced_regression_analysis_with_R/extras.ipynb'
      - 'individual_modules/working_with_data_in_R/introducing_tidyverse.ipynb'
      - 'individual_modules/working_with_data_in_R/loading_data.ipynb'
      - 'individual_modules/working_with_data_in_R/manipulating_a_dataframe.ipynb'
      - 'individual_modules/working_with_data_in_R/piping.ipynb'
      - 'individual_modules/working_with_data_in_R/combining_datasets.ipynb'
      - 'individual_modules/working_with_data_in_R/reshaping_datasets.ipynb'
      - 'individual_modules/working_with_data_in_R/strings_and_dates.ipynb'
      - 'individual_modules/working_with_data_in_R/summary.ipynb'
      - 'individual_modules/python_for_data_analysis/data-analysis-plotly.ipynb'
      - 'individual_modules/introduction_to_julia/arrays_and_matrices.ipynb'
      - 'individual_modules/introduction_to_julia/control_flow.ipynb'
      - 'individual_modules/introduction_to_julia/functions.ipynb'
      - 'individual_modules/introduction_to_julia/introduction_to_julia.ipynb'
      - 'individual_modules/introduction_to_julia/io.ipynb'
      - 'individual_modules/introduction_to_julia/operations.ipynb'
      - 'individual_modules/introduction_to_julia/package_management.ipynb'
      - 'individual_modules/introduction_to_julia/performant_code.ipynb'
      - 'individual_modules/introduction_to_julia/variables.ipynb'
      - 'individual_modules/introduction_to_julia/visualisation.ipynb'
