[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
jupyter-book = "*"
sphinx = "*"
scikit-learn = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
jupyterquiz = "*"
docutils = "*"

[dev-packages]

[requires]
python_version = "3.11"
